.result-node {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 5px;
  background: white;
  height: 500px;
  width: 500px;
}

.text-updater-node label {
  padding-bottom: 3px;
  display: block;
  color: #777;
  font-size: 12px;
}

.canvas {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  background: hsl(0, 0%, 96%);
}
